.App {
  text-align: center;
}

.navbar {
  border: 1px solid hotpink;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.clock {
  border: 1px solid black;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.dagar {
  border: 1px solid blue;
  margin: 1rem;
  font-size: 0.8rem;
}
.timmar {
  border: 1px solid blue;
  margin: 1rem;
  font-size: 0.8rem;
}

.minuter {
  border: 1px solid blue;
  margin: 1rem;
  font-size: 0.8rem;
}

.sekunder {
  border: 1px solid blue;
  margin: 1rem;
  font-size: 0.8rem;
}